/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-mei-2016, 9:59:55
    Author     : Nathan
*/

@font-face{
    font-family: "FreePixel";
    src: url('../fonts/FreePixel.ttf')

}

@font-face{
    font-family: "MadPixel";
    src: url('../fonts/MadPixels.otf') 
}


html{
    height: 100%;
    position: relative;
   
}

body {
  
    font-family: FreePixel, Arial, helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    background: url(../images/snakesBgGrey.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

h1, h2{
    font-family: MadPixel;
} 


.container{
    height: 100%;
    background-size: cover;
}

.top{
    height: 20%;
}

.logo{
    max-height: 180px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.logo2{
    max-height: 180px;
    margin-bottom: 25px;
    margin-top: 10px;
}


.scoreMob h2{
 display: inline;  
}

.base{
    max-height: 50%;
}

.base p{
    font-size: 1.4em;
}

.rasp{
    display: block;
    margin: auto;
    margin-top: 80px;
}

.score{
    text-align: center;
    margin-top: 140px;
    font-weight: bold;
    font-size: 2.5em;
}

.upButton{
    margin-left: 72px;
    max-height: 75px;
    margin-top: 50px;  
}

.controls{
    height: 100%;
}

.controls img{
    float: left;

}

.button{
    max-height: 75px;
    pointer-events: none;
}


.high{
    max-height: 120px;
    display:block;
    margin: auto;
  
}

.bottom{
    height: 20%;
}

.house{
    max-height: 100px;

}

.small{
    display: none;
}

.landscape{
    display: inherit;
}

.mobile{
    display: none;
}

.portrait{
    display: none;
}

.phone{
    margin: auto;
    min-height: 150px;
    margin-top: 50px;
    display: block;
}

.btn{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background: linear-gradient(#003366, #001a33);
    border: gray;
    color: white;
    width: 100px;
    height: 55px;
    font-size: 1.5em;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.btn:hover{
    background: linear-gradient(#333333, #404040);
    color: white;

}

.logo_small{
    max-height: 75px;
}

.controloption{
    max-height: 200px;
}

.controloption2{
    max-height: 200px;
}

.usernameInput h3{
    font-weight: bold;
}

.mobileControls{
    max-height: 150px;
    margin-left: 20px;
}

.mobileControls2{
    max-height: 180px;
    margin-top: 0px;
   float: right;
}

#touch{
    height: 360px;
    width: 640px;
}

.raspMob{
    display: block;
    margin: auto;
    margin-top:85px;
    max-height: 60px;
}

.raspMobJoy{
    margin-top: 140px;
    max-height: 100px;
}

.scoreMob{
    margin-top: 25px;
    margin-bottom: 25px
}
.down{
    margin-left: 21px;
}

.color{
    color: black;
    font-weight: bold;
    margin-left: 20px;
    border: 0px;
    border-radius: 25px;
}

.gameOver h3{
    font-weight: bold;
}

.crown{
    max-height: 175px;
    display: block;
    margin: auto;
}

.goImg{
    margin-top: 100px;
}

.tryAgain{
    margin-top: 140px;
    margin-bottom: 35px;
}

.go h1{
    font-size: 4em;
}

.wachtrij h1{
    font-size: 3em;
}

.wachtrij h4{
    font-weight: bold;
}

.centerImg{
    display: block;
    margin: auto;
}

.crown2{
    display: block;
    margin: auto;
    max-height: 175px;
    margin-top:25px;
}

.topScore h3{
    font-weight: bold;
}

.topScore p {
    font-style: italic;
}

.PickJoyStick{
       display: none;
   }
   
.adminLogin h1{
    font-size: 3em;
    margin-top: 80px;
}

.adminPanel h1{
    font-size: 3em;
    margin-top: 80px;
}

.adminLogin label{
    font-size: 2em;
}

.adminLogin p{
    font-size: 1.5em;
}

.adminLogin hr{
    margin-bottom: 50px;
}

.adminPanel h2{
    margin-bottom: 30px;
}

.music{
    max-height: 80px;
}

.adminPanel h3{
    font-weight: bold;
    font-style: italic;
}

.json{
    max-height: 100px;
    float: left;
    margin-left: 20px;
}

.allScores h3{
    float: left;
    margin-left: 30%;
}


.snakeTxt strong{
    font-size: 1.2em;
}

#mobileView{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 40px;
}

.desktopTxt{
    margin-left: 25%;
}

@media screen and (max-width: 800px) and (orientation:landscape){
    .big{
        display: none;
    }
    .desktop{
        display: none;
    }
    .landscape{
        display: inherit;
    }
    .portrait{
        display: none;
    }
    .tryAgain{
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .goImg{
        margin-top: 80px;
    }

    .crown{
        max-height: 110px;
    }

    .crown2{
        max-height: 120px;
    }

    .snake{
        max-height: 80px;
    }
    
      .controloption{
    max-height: 120px;
    }
    
    .controloption2{
        max-height: 115px;
    }

   #joy{
       height: 300px;
       width: 600px;
   }
   
   .joystickNotAvailable{
       display: none;
   }
   
   .PickJoyStick{
       display: inherit;
   }
   

    .joy h2{
        margin-left:30px;
    }
    
    canvas{
        margin: 0;
        padding: 0;
    }
    
    .adminLogin h1{
        font-size: 3em;
        margin-top: 20px;
    }
    
    .adminPanel h1{
        font-size: 3em;
        margin-top: 20px;
    }

    .allScores h2{
        font-size: 1.5em;
    }
    
    .snakeTxt strong{
    font-size: 0.9em;
}
}

@media screen and (max-width: 800px) and (orientation:portrait){
    .big{
        display: none;
    }
    .desktop{
        display: none;
    }
    .landscape{
        display: none;
    }

    .portrait{
        display: inherit;
    }

    .usernameInput{
        display: none;
    }
    
     .joystickNotAvailable{
       display: none;
   }
   
   .PickJoyStick{
       display: inherit;
   }
  
    .replay img{
      display: block;
      margin: auto;   
    }
    
  
    .port h1{
        font-size: 1.5em;
        margin-top: 5px;
        text-align: center;
    }
    
    .music {
      display: block;
      margin: auto;
    }
    
    .allScores h3{
    float: left;
    margin-left: 0%;
    }
}


@media screen and (min-width: 805px) and (max-width: 1200px){
    .big{
        display: none;
    }
    .small{
        display: inherit;
    }
    .landscape{
        display: inherit;
    }

    .mobile{
        display: none;
    }

    .portrait{
        display: none;
    }

    .tryAgain{
        margin-top: 140px;
        margin-bottom: 15px;
    }
    .goImg{
        margin-top: 120px;
    }

     .PickJoyStick{
       display: none;
    }
    
    .upButton{
        margin-top:30px;
    }
    
    .rasp{
    display: block;
    margin: auto;
    margin-top: 100px;
    }
    
    .adminLogin h1{
    font-size: 3em;
    margin-top: 40px;
    }
    
    .adminPanel h1{
    font-size: 3em;
    margin-top: 40px;
    }
    
    
}

@media screen and (max-width: 585px) {
 
     .mobileControls{
        max-height: 110px;
        margin-left: 20px;
    }

    .mobileControls2{
        max-height: 165px;
        margin-top: 0px;
    }
    
    .raspMob{
        margin-top: 60px;
    }
     .raspMobJoy{
     margin-top:100px;
     max-height: 80px;
    }
    
    #joy{
        height:285px;
        width: 585px;
    }
  
    
    }   
    
    @media screen and (max-width: 542px) {
 
     .mobileControls{
        max-height: 85px;
        margin-left: 20px;
    }

    .mobileControls2{
        max-height: 135px;
        margin-top: 0px;
    }
    
    .raspMob{
        margin-top: 60px;
    }
    
    .raspMobJoy{
     margin-top:120px;
     max-height: 80px;
    }
    
    #joy{
        height:245px;
        width: 542px;
    }

    }   
    
     @media screen and (max-width: 457px) {
 
     .mobileControls{
        max-height: 75px;
        margin-left: 20px;
    }

    .mobileControls2{
        max-height: 120px;
        margin-top: 0px;
    }
    
    .raspMob{
        margin-top: 50px;
    }
    
    
    
    }   


